/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
  border-radius: 10px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  border-radius: 10px;
}

.slide {
  display: inline-block;
  /* height: 400px; */
  width: 100%;

  border-radius: 10px;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px 7px 7px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #659dbd;
}
